$base-color: #d0d5d5;
$header-color: #a1b09c;
$card-color: #acf5f5;

body {
  background-color: $base-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2em;
  border-bottom: 1px solid black;
  background-color: $header-color;
}

h1 {
  font-size: 2em;
}

main {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

h2 {
  font-size: 1.3em;
}

.info-area {
  padding: 2em 4em 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
}

.info-area .description {
  line-height: 1.5em;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.control-buttons a {
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid black;
  border-radius: 15px;
  width: 9em;
  text-align: center;
  color: black;
  font-weight: bold;
}

.edit {
  background-color: #ffe437;
}

.delete {
  background-color: red;
}

