html
    head
        title #{title}
        link(rel="stylesheet" href="/css/meyerweb_reset.css")
        link(rel="stylesheet" href="/css/category.css")
    body
        header
            h1 #{title}
        main
            h2 Create Category