html
    head
        title #{title}
        link(rel="stylesheet" href="/css/meyerweb_reset.css")
        link(rel="stylesheet" href="/css/style.css")
    body
        header
            h1 #{title}
        main
            h2 Categories
            each val, key in categories
                li
                    a(href=`/catalog/category/${val.name.toLowerCase()}`) #{val.name}
            li
                button Add Category
